 <div class="chat-list">
        <% matches.forEach(match => { %> 
          <a href="/messages/<%= match.friend_id %>" class="chat_list_item">
        <div class="chat-item messages-active">
          <img
            src="/<%= match.friend_pfp %>"
            alt="Profile picture"
            class="profile-icon"
          />
          <div>
            <p><strong><%= match.friend_name %></strong></p>
            <p><%= match.last_message ?? "Say hello 👋" %></p>
          </div>
        </div>
        </a>
        <% }) %> 
      </div>