<%-include("header") %>
<!-- navbar pannel  -->
<nav id="navbar">
  <div class="container nav">
    <h1 id="logo">QuickLeap</h1>
    <em>“Connect. Learn. Grow.”</em>
    <div class="profile">
      <div class="profile-container">
        <a href="/profile"
          ><img
            src="/images/Pfa.png"
            alt="Profile picture"
            class="profile-icon"
        /></a>
        <div class="notif_container">
         <i class="fas fa-bell"></i>
          <div  class="notif_panel">
            <ul>
              <li>New message from Alice</li>
              <li>Your tutorial was liked</li>
              <li>Invite accepted</li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary"><a href="/logout">Logout</a></button>
      </div>
    </div>
  </div>
</nav>

<script src="/scripts/navbar.js">

</script>
