 <form
          id="chat-input"
          class="chat-input"
          action="/messages"
          method="POST"
        >
          <input
            type="text"
            name="content"
            class="form-control"
            placeholder="Type a message..."
          />
          <button type="submit" id="send-button" class="btn">Send</button>
        </form>