<%-include ("partials/header") %>

  <div class="flex-container">
    <div style="width: 18rem;" >
  <div class="card card-body" >
  <h1 class="card-title" >Welcome to QuickLeap !</h1>
  <p ><em>Learn and UpSkill Bit by Bit</em></p>
  <hr />
  <a href="/register"  class="btn btn-primary" role="button">Register</a>
  <a href="/login"  class="btn btn-primary" role="button">Login</a>
  </div>
  </div>
</div>