<%-include ("partials/header") %>

<h1 class="page-heading">Register</h1>

<div class="flex-container">
  <form action="/register" method="POST" class="border border-1 rounded-4">
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Your Name</label>
      <input
        type="name"
        class="form-control"
        name="name"
        id="exampleInputName1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        name="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>
   <a href="/Backend/views/dashboard.ejs"> <button type="submit" class="btn btn-primary"  >Submit</button> </a>
  </form>
</div>
