.chat {
  display: flex;
  height: 80vh;
}

.chat-window {
  width: 100vh;
}

.chat-header {
  padding: 0.6rem 1rem 0rem 1rem;
}
.chat-list,
.chat-window {
  padding: 1.6rem 2rem 1.6rem 1.6rem;
}

.chat-list {
  background-color: #e0e3e5;
  width: 280px;
  flex-shrink: 0;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  gap: 16px;
  justify-content: left;
  align-items: center;
  height: 4rem;
  margin-bottom: 10px;
  padding-left: 1rem;
  width: 100%;
  overflow: hidden;
}

.chat-item img {
  width: 3rem;
  height: 3rem;
}

.chat-item p {
  margin-bottom: 0;
}

.messages-active {
  background-color: #889096;
  border-radius: 0.4rem;
}

.chat-text {
  flex: 1;
  min-width: 0;   
}

.chat-input {
  position: relative;
  bottom: 0px;
  display: flex;
  gap: 10px;
  width: 80vh;
}

.chat-messages {
  margin-top: 2rem;
  width: 80vh;
  height: 50vh;
  flex-direction: column;
  display: inline-flex;
  flex: 1;
  overflow-y: auto;
}

.message {
  max-width: 320px;
  border-radius: 0.4rem;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}

.chat-messages .sent {
  align-self: flex-end;
  background-color: #fb9eb9;
}

.chat-messages .received {
  align-self: flex-start;
  background-color: #e0e3e5;
}

.last-message {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-sent{
    color: #FFCCDF;
    font-size: smaller;
}

.time-received{
 color: #BCC3C8;
 font-size: smaller;
}

.vertical-scroll{
  overflow-y: auto;
}