.search-bar{
    display: flex;
   height: 4rem;
   align-items: center;
}

.fa-search{
  color: white;
}

.search-input{
    width: 100vh;
}

.search-btn{
    height: 2.4rem;
    width: 6rem;
}

.matches{
    margin: 2rem;
}

.vanish{
    display: none;
}

@media (max-width: 576px) {
    /* search page */
  .search-input{
    width: 30vh;
}
}